<div class="topic-create container">

  <div class="position-relative spinner">
    <ngx-spinner name="topic-create" type="line-scale-pulse-out" [fullScreen]="false" size="large" color="#4e62ce" bdColor="transparent"></ngx-spinner>
  </div>

  <ng-template [ngIf]="categories">
    <p class="topic-create-title">Create Topic</p>

    <form class="" [formGroup]="createForm" (ngSubmit)="create()">

      <div class="name">
        <label for="name" class="form-label">Name</label>
        <input autocomplete="off" class="form-control" type="text" id="name" formControlName="name" placeholder="Name of your topic">
      </div>

      <pre></pre>

      <div class="category">
        <label for="category" class="form-label">Category</label>
        <select name="choice" id="category" class="form-control" formControlName="category">
          <ng-template ngFor let-category [ngForOf]="categories" let-i="index">
            <option value="{{category.id}}">{{"CATEGORY." + category.id + ".NAME" | uppercase | translate}}</option>
          </ng-template>
        </select>
      </div>

      <pre></pre>

      <label for="post">Content</label>
      <textarea maxlength="1000" class="form-control comment shadow-none" id="post" formControlName="content"></textarea>

      <div class="d-flex align-items-center justify-content-end comment-bar">
        <span [ngClass]="(remainingChars() <= 20 ? 'create-low' : '') + ' ' + (chars() <= 0 ? 'd-none' : '') + ' ' + (remainingChars() <= 0 ? 'create-zero' : '')" class="counter">{{remainingChars()}}</span>
        <button class="btn btn-primary create" type="submit" [disabled]="chars() <= 0 || createForm.value.name.length <= 0">Create</button>
      </div>
    </form>
  </ng-template>

</div>
