<div class="category container">

  <div class="position-relative spinner">
    <ngx-spinner name="category" type="line-scale-pulse-out" [fullScreen]="false" size="large" color="#4e62ce" bdColor="transparent"></ngx-spinner>
  </div>

  <ng-template [ngIf]="displays">

    <div class="row head d-none d-md-flex">
      <p class="col-5">{{"SHARED.TOPIC" | translate}}</p>
      <p class="col-2">{{"SHARED.REPLIES" | translate}}</p>
      <p class="col-5">{{"SHARED.ACTIVITY" | translate}}</p>
    </div>

    <ng-template ngFor let-display [ngForOf]="displays" let-i="index">
      <div class="topic row">

        <div class="col-8 col-md-5 d-inline-flex align-items-start">
          <a class="topic-title cursor-pointer" routerLink="/topic/{{display.topic.id}}">{{display.topic.name}}</a>
          <span *ngIf="display.topic.favorites >= POPULAR_COUNT" class="badge topic-hot">{{"SHARED.POPULAR" | translate}}</span>
        </div>

        <div class="topic-replies col-4 text-end d-block d-md-none">{{display.posts.length-1}}</div>

        <div class="col-2 topic-replies d-none d-md-block">
          <span>{{display.posts.length - 1}}</span>
        </div>

        <div class="col-12 col-md-5 container">
          <ng-template ngFor let-latest [ngForOf]="display.posts | slice:0:5" let-i="index">
            <div class="topic-post row">
              <a class="topic-post-name col" routerLink="/topic/{{display.topic.id}}/{{latest.id}}">{{latest.content}}</a>
              <p class="topic-post-date col-auto">{{latest.createdAt | dateAgo}}</p>
            </div>
          </ng-template>
        </div>

      </div>
    </ng-template>
  </ng-template>
</div>
