<div class="topic container">

  <div class="position-relative spinner">
    <ngx-spinner name="topic" type="line-scale-pulse-out" [fullScreen]="false" size="large" color="#4e62ce" bdColor="transparent"></ngx-spinner>
  </div>

  <div class="initial">

    <ng-template [ngIf]="topicDisplay">

      <div class="d-flex align-items-center">
        <h1 class="initial-title">{{topicDisplay.topic.name}}</h1>
        <a routerLink="/category/{{topicDisplay.topic.category}}" class="d-inline initial-title-category badge">{{"CATEGORY." + topicDisplay.topic.category + ".NAME" | uppercase | translate}}</a>

      </div>

      <p class="initial-content">{{topicDisplay.posts[0].content}}</p>
    </ng-template>

    <div class="favorite" [ngClass]="(canHover ? 'favorite-hover' : '') + (!topicDisplay ? ' d-none' : '')">
      <p>{{favoriteCount}}</p>
      <ng-lottie height="3.8rem" width="3.8rem" (complete)="complete()" (click)="favorite()" (animationCreated)="animationCreated($event)" [options]="options"></ng-lottie>
    </div>

  </div>

  <div class="container" *ngIf="topicDisplay">
    <ng-template ngFor let-post [ngForOf]="topicDisplay.posts | slice:1:topicDisplay.posts.length" let-i="index">
      <div class="post">

        <div class="d-flex">
          <p class="post-author">Anonymous</p>
          <p class="post-date">{{post.createdAt | dateAgo}}</p>
        </div>

        <p class="post-content">{{post.content}}</p>
      </div>
    </ng-template>

    <form [formGroup]="postForm" (ngSubmit)="post()">
      <label for="post">{{"TOPIC.COMMENT" | translate}}</label>
      <textarea maxlength="1000" class="form-control comment shadow-none" id="post" formControlName="content"></textarea>

      <div class="d-flex align-items-center justify-content-end comment-bar">
        <span [ngClass]="(remainingChars() <= 20 ? 'send-low' : '') + ' ' + (chars() <= 0 ? 'd-none' : '') + ' ' + (remainingChars() <= 0 ? 'send-zero' : '')" class="counter">{{remainingChars()}}</span>
        <button class="btn btn-primary send" type="submit" [disabled]="chars() <= 0">{{"TOPIC.SEND" | translate}}</button>
      </div>

    </form>

  </div>

</div>
