@font-face {
  font-family: cera-pro;
  src: url(~src/assets/fonts/normal.woff2);
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: cera-pro;
  src: url(~src/assets/fonts/light.woff2);
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: cera-pro;
  src: url(~src/assets/fonts/italic.woff2);
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: cera-pro;
  src: url(~src/assets/fonts/italic_bold.woff2);
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: cera-round-pro;
  src: url(~src/assets/fonts/bold.woff2);
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: cera-round-pro;
  src: url(~src/assets/fonts/regular.woff2);
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: cera-round-pro;
  src: url(~src/assets/fonts/hard.woff2);
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: cera-round-pro;
  src: url(~src/assets/fonts/standard.woff2);
  font-weight: 500;
  font-style: normal
}
