<div class="categories container">

  <div class="position-relative spinner">
    <ngx-spinner name="categories" type="line-scale-pulse-out" [fullScreen]="false" size="large" color="#4e62ce" bdColor="transparent"></ngx-spinner>
  </div>

  <ng-template [ngIf]="displays">

    <div class="row head d-none d-md-flex">
      <p class="col-5">Category</p>
      <p class="col-2">Topics</p>
      <p class="col-5">Latest</p>
    </div>


    <ng-template ngFor let-display [ngForOf]="displays" let-i="index">
      <div class="category row">

        <div class="col-5">
          <a class="category-title" routerLink="/category/{{display.category.id}}">{{display.category.name}}</a>
          <p class="category-description d-none d-md-block">{{display.category.description}}</p>
        </div>

        <div class="col-2 category-topics d-none d-md-block">
          <span>{{display.topicDisplays.length}}</span>
        </div>

        <div class="col-md-5 container">
          <ng-template ngFor let-latest [ngForOf]="display.topicDisplays | slice:0:5" let-i="index">
            <div class="category-topic row">
              <a class="category-topic-name col" routerLink="/topic/{{latest.topic.id}}">
                {{latest.topic.name}}

                <span class="d-inline d-md-none category-topic-date">{{latest.posts[0].createdAt | dateAgo}}</span>

              </a>

              <span class="category-topic-date d-none d-md-block col-md-auto">{{latest.posts[0].createdAt | dateAgo}}</span>

              <p class="d-block d-md-none col-auto category-topic-replies">{{latest.posts.length-1}}</p>

            </div>
          </ng-template>
        </div>

      </div>
    </ng-template>

  </ng-template>
</div>
