<nav class="nav d-flex justify-content-end">
  <ul>
    <p class="title">MENU</p>
    <li><a routerLink="/home" routerLinkActive="item--active" class="item"><i class="icon fa-solid fa-house"></i>Home</a></li>
    <li><a routerLink="/favorites" routerLinkActive="item--active" class="item"><i class="icon fa-solid fa-heart"></i>Favorite Topics</a></li>
    <li><a routerLink="/search" routerLinkActive="item--active" class="item"><i class="icon fa-solid fa-magnifying-glass-plus"></i>Search</a></li>
  </ul>
</nav>
