<nav class="nav d-flex justify-content-end">
  <ul>
    <p class="title">MENU</p>
    <li><a routerLink="/" routerLinkActive="item--active" class="item"><i class="icon fa-solid fa-house"></i>Home</a></li>
    <li><a routerLink="/topics" routerLinkActive="item--active" class="item"><i class="icon fa-regular fa-compass"></i>Explore Topics</a></li>
    <li><a routerLink="/favourite" routerLinkActive="item--active" class="item"><i class="icon fa-solid fa-heart"></i>Favourite Topics</a></li>
    <li><a routerLink="/search" routerLinkActive="item--active" class="item"><i class="icon fa-solid fa-magnifying-glass-plus"></i>Search</a></li>
  </ul>
</nav>
