<div class="top container d-none d-xl-block">
  <p>Top Topics</p>


  <div class="position-relative row align-middle spinner">
    <ngx-spinner name="top" type="line-scale-pulse-out" [fullScreen]="false" size="medium" color="#4e62ce" bdColor="transparent"></ngx-spinner>
  </div>

  <ng-template ngFor [ngForOf]="topics" let-topic let-i="index">
    <div class="topic row">
      <a class="link col" routerLink="topic/{{topic.id}}">{{topic.name}}</a>
      <p class="col-auto favorites">{{topic.favorites}}<i class="fa-solid fa-heart heart"></i></p>
    </div>
  </ng-template>
</div>
