.topic {

  .favorite {
    display: flex;

    margin-top: -1rem;
    margin-right: -1rem;

    justify-content: end;
    align-items: center;
    cursor: pointer;

    padding: 0;

    p {
      color: $color-tertiary-dark;
      font-weight: 900;
      margin: 0;
      padding: 0;
    }

    &-hover {
      path {
        transition: 0.2s;
      }

      &:hover {
        path {
          fill: #4e62ce;
        }
      }
    }
  }

  .initial {
    border-bottom: 1px solid $color-grey-light-3;
    margin-bottom: 2rem;

    &-content {
      padding-top: 1rem;
      color: $color-tertiary-dark;
      word-wrap: break-word;
    }

    &-title {
      font-size: 1.8rem;
      margin: 0;

      &-category {
        font-size: 0.95rem;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;

        color: $color-primary;
        background-color: $color-secondary;
        border-radius: 5px;
        text-transform: uppercase;
        transition: 0.2s;

        &:hover {
          background-color: darken($color-secondary, 10%);
        }
      }
    }
  }

  .post {
    margin-left: 2rem;
    margin-bottom: 2rem;

    &-author {
      color: $color-secondary;
      padding: 0;
      margin-bottom: 1rem;
    }

    &-content {
      color: $color-tertiary-dark;
      word-wrap: break-word;
    }

    &-date {
      justify-self: right;
      text-align: right;
      width: 100%;
      color: $color-tertiary;
      font-style: italic;
    }
  }
}
